html{
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*, *:before, *:after{
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: $secondary;
  display: inline-block;
}
p{
  margin: 0;
}
ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: unset;
  display: block;
  font-size: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

h1{
  margin-top: 0 !important;
}

body{
  margin: 0;
  font-size: 34px;
  line-height: 40px;
  font-family: "BubblegumSans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
  color: $main;
  background-color: #1C233E;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container{
  // max-width: 1110px; ширина контейнера, не считая отступы
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

button{
  padding: 0;
}

.btn-clear{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo{
  max-width: 335px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    min-height: 100%;
  }
}

// .btn{
//   background: linear-gradient(94.42deg, #F54FFE 2.5%, #793AFF 99.28%);
//   color: $secondary;
//   border-radius: 20px;
//   border: none;
//   height: 40px;
//   font-size: 18px;
//   line-height: 21px;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   font-weight: 700;
//   transition: all .4s;
//   padding: 0 10px;
//   font-family: "Roboto", sans-serif;
//   cursor: pointer;
//   &:hover{
//     background: linear-gradient(94.42deg, rgba(#F54FFE, .7) 2.5%, rgba(#793AFF, .7) 99.28%);
//   }
//   &--big{
//     height: 60px;
//     font-size: 28px;
//     line-height: 33px;
//     max-width: 232px;
//     width: 100%;
//     border-radius: 30px;
//     padding: 0 15px;
//   }
//   &--reversed{
//     background: linear-gradient(275.15deg, #DF9271 0%, #793AFF 100%);
//     &:hover{
//       background: linear-gradient(275.15deg, rgba(#DF9271, .7) 0%, rgba(#793AFF, .7) 100%);
//     }
//   }
//   &--purple{
//     background: #BE46FE;
//     height: 80px;
//     max-width: 325px;
//     border-radius: 40px;
//     &:hover{
//       background: rgba(#BE46FE, .7);
//     }
//   }
//   &--bordered{
//     background: #322361;
//     padding-left: 21px;
//     padding-right: 21px;
//     font-size: 18px;
//     line-height: 21px;
//     font-weight: 500;
//     position: relative;
//     background-clip: padding-box;
//     border: solid 2px transparent;
//     &:after{
//       transition: all .4s;
//       content: '';
//       position: absolute;
//       top: 0; right: 0; bottom: 0; left: 0;
//       z-index: -1;
//       margin: -2px;
//       border-radius: inherit;
//       background: linear-gradient(90deg, #EE4EFE 0%, #853CFF 100%);
//     }
//     &:hover{
//       background: transparent;
//     }
//   }
//   &--orange{
//     background: #D97C4E;
//     &:hover{
//       background: rgba(#D97C4E, .7);
//     }
//   }
//   &--red{
//     background: #D94E4E;
//     &:hover{
//       background: rgba(#D94E4E, .7);
//     }
//   }
// }

.title{
  font-size: 52px;
  line-height: 70px;
  color: $secondary;
  &--main{
    font-size: 68px;
    line-height: 75px;
  }
}

// .list{
//   &-item{
//     position: relative;
//     color: $secondary;
//     padding-left: 42px;
//     & + &{
//       margin-top: 19px;
//     }
//     &:before{
//       content: '';
//       left: 0;
//       background: linear-gradient(135deg, #EE4EFE 0%, #813BFF 100%);
//       width: 22px;
//       height: 22px;
//       border-radius: 50%;
//       top: 1px;
//     }
//     &:before,
//     &:after{
//       position: absolute;
//     }
//     &:after{
//       top: 2px;
//     }
//   }
//   &--numbered{
//     counter-reset: section;
//     .list-item{
//       &:after{
//         left: 6px;
//         counter-increment: section;
//         content: counter(section);
//         font-size: 18px;
//         line-height: 21px;
//         font-family: "Roboto", sans-serif;
//         font-weight: 700;
//         color: $secondary;
//       }
//     }
//   }
// }

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  &__item{
    & + &{
      margin-left: 22px;
    }
    &:first-child{
      img{
        margin-right: 2px;
      }
    }
  }
  &__link{
    transition: all .4s;
    background: rgba(116, 188, 255, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: unset;
      height: unset;
    }
    &:hover{
      transform: translateY(-10px);
    }
  }
}

// .section-imgwrapper{
//   max-height: 500px;
//   img{
//     border-radius: 25px;
//   }
// }

section{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// .label{
//   color: #fff;
//   font-size: 18px;
//   line-height: 22px;
//   font-weight: 700;
//   .input{
//     width: 100%;
//   }
// }

// .input{
//   background-color: #322361;
//   height: 35px;
//   border-radius: 20px;
//   border: none;
//   font-size: 14px;
//   line-height: 18px;
//   padding: 9px 19px;
//   border: 1px solid rgba(190, 190, 190, 0.2);
//   color: $secondary;
//   &::placeholder{
//     font-size: 14px;
//     line-height: 18px;
//     font-family: "Roboto", sans-serif;
//     font-weight: 500;
//     color: #BEBEBE;
//   }
//   &:focus{
//     background: rgba(#EA4C89, 0.15);
//     border-color: #EA4C89;
//     outline: none;
//     &::placeholder{
//       color: rgba(#BEBEBE, .8);
//     }
//   }
// }