html{
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*, *:before, *:after{
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: $secondary;
  display: inline-block;
}
p{
  margin: 0;
}
ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: unset;
  display: block;
  font-size: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

h1{
  margin-top: 0 !important;
}

body{
  margin: 0;
  font-size: 34px;
  line-height: 40px;
  font-family: "BubblegumSans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
  color: $main;
  background-color: #1C233E;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container{
  // max-width: 1110px; ширина контейнера, не считая отступы
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

button{
  padding: 0;
}

.btn-clear{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo{
  max-width: 335px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    min-height: 100%;
  }
}

.btn{
  font-family: "BubblegumSans", sans-serif;
  padding: 0 24px;
  font-weight: 400;

  background-image: url('~@/assets/images/btn-graphic.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;

  // background: linear-gradient(94.42deg, #F54FFE 2.5%, #793AFF 99.28%);
  color: $secondary;
  font-size: 22px;
  line-height: 26px;
  border-radius: 20px;
  border: none;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  // padding: 0 10px;
  // font-family: "Roboto", sans-serif;
  cursor: pointer;
  // &:hover{
  //   background: linear-gradient(94.42deg, rgba(#F54FFE, .7) 2.5%, rgba(#793AFF, .7) 99.28%);
  // }
  &--big{
    height: 100px;
    font-size: 46px;
    line-height: 53px;
    padding: 0 55px;
    border-radius: 30px;

    // max-width: 232px;
    // width: 100%;
    // padding: 0 15px;
  }
  &--copy{
    background-image: url('~@/assets/images/btn-graphic--green.png');
    font-size: 28px;
    line-height: 33px;
    padding: 0 62px;
    height: 64px;
    svg{
      margin-right: 14px;
    }
  }
}

.title{
  font-size: 52px;
  line-height: 70px;
  color: $secondary;
  &--main{
    font-size: 68px;
    line-height: 75px;
  }
  &--wreath{
    padding-bottom: 39px;
    position: relative;
    margin-bottom: 28px;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 368px;
      height: 39px;
      background-image: url('~@/assets/images/wreath-graphic.png');
    }
  }
}

// .list{
//   &-item{
//     position: relative;
//     color: $secondary;
//     padding-left: 42px;
//     & + &{
//       margin-top: 19px;
//     }
//     &:before{
//       content: '';
//       left: 0;
//       background: linear-gradient(135deg, #EE4EFE 0%, #813BFF 100%);
//       width: 22px;
//       height: 22px;
//       border-radius: 50%;
//       top: 1px;
//     }
//     &:before,
//     &:after{
//       position: absolute;
//     }
//     &:after{
//       top: 2px;
//     }
//   }
//   &--numbered{
//     counter-reset: section;
//     .list-item{
//       &:after{
//         left: 6px;
//         counter-increment: section;
//         content: counter(section);
//         font-size: 18px;
//         line-height: 21px;
//         font-family: "Roboto", sans-serif;
//         font-weight: 700;
//         color: $secondary;
//       }
//     }
//   }
// }

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  &__item{
    & + &{
      margin-left: 22px;
    }
    // &:first-child{
    //   img{
    //     margin-right: 2px;
    //   }
    // }
  }
  &__link{
    transition: all .4s;
    background: rgba(116, 188, 255, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: unset;
      height: unset;
    }
    &:hover{
      transform: translateY(-10px);
    }
  }
}

// .section-imgwrapper{
//   max-height: 500px;
//   img{
//     border-radius: 25px;
//   }
// }

section{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #E9DFF5;
}

// .label{
//   color: #fff;
//   font-size: 18px;
//   line-height: 22px;
//   font-weight: 700;
//   .input{
//     width: 100%;
//   }
// }

.input{
  background: rgba(182, 142, 83, 0.1);
  border-radius: 100px;
  height: 104px;
  padding: 37px 225px 37px 47px;
  border: none;
  font-size: 26px;
  line-height: 30px;
  font-family: "BubblegumSans", sans-serif;
  font-weight: 400;
  color:transparent;
  &:not(:placeholder-shown){
    background: 
      linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 66.15%), 
      rgba(182, 142, 83, 0.1);
    -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;
    -webkit-text-fill-color: transparent;
  }

  border: 1px solid transparent;
  // color: $secondary;
  &::placeholder{
    font-size: 26px;
    line-height: 30px;
    font-family: "BubblegumSans", sans-serif;
    font-weight: 400;

    // color: #BEBEBE;
  }
  &:focus{
    // background: rgba(#EA4C89, 0.15);
    // border-color: #4C9153;
    border-color: #5CA363;
    // #5CA363
    outline: none;
    &::placeholder{
      // color: rgba(#BEBEBE, .8);
    }
  }
  &--error{
    &:focus{
      border-color: #9C4338;
    }
  }
}