@media (max-width: 1550px){
  .collection .swiper-wrapper {
    margin-left: -154px;
  }
}

@media (max-width: 1200px){
  .header__inner{
    padding: 0 50px;
  }
  .header__nav-list{
    margin-right: 15px;
  }
  .header__nav-item + .header__nav-item{
    margin-left: 20px;
  }
}

@media (max-width: 1150px){





  .team__items{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 1100px){
  .collection .swiper-pagination-bullet:first-child:after, .collection .swiper-pagination-bullet:last-child:after{
    width: 200px;
    height: 64px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -222px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -222px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    top: -10px;
  }
}

@media (max-width: 1050px){
  .header__nav{
    display: none;
  }
  .header__menu-btn{
    display: flex;
  }
  .header__menu{
    .header__nav{
      display: unset;
    }
  }
  .header__nav-list{
    flex-direction: column;
    margin-right: 0;
    border-top: 1px solid rgba(#30255F, .5);
    border-bottom: 1px solid rgba(#30255F, .5);
  }
  .header__nav-item + .header__nav-item{
    margin-left: 0;
    border-top: 1px solid rgba(#30255F, .5);
  }
  .header__nav-link{
    display: block;
    text-align: center;
    padding: 10px 0;
    &:after{
      display: none;
    }
  }
}

@media (max-width: 1024px){
  





  .cover__videowrapper{
    max-width: 425px;
  }
  .collection__list{
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
  .roadmap__imgwrapper{
    img{
      min-width: unset;
      width: unset;
    }
  }
  .roadmap__link{
    pointer-events: all;
  }
  .game__imgwrapper{
    max-width: 280px;
  }
}

@media (max-width: 950px){
  .collection .swiper-pagination-bullet:first-child:after, .collection .swiper-pagination-bullet:last-child:after {
    width: 155px;
    height: 54px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    top: -5px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -172px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -172px;
  }
}

@media (max-width: 900px){
  body{
    font-size: 24px;
    line-height: 30px;
  }
  .title{
    font-size: 42px;
    line-height: 60px;
    &--main{
      font-size: 58px;
      line-height: 65px;
    }
  }
  .cover,
  .about,
  .character,
  .collection,
  .roadmap{
    background-size: auto 100%;
    background-position: center;
  }

  .cover {
    padding: unset;
    padding-top: 130px;
  }
  .cover__imgwrapper {
    margin-right: 0;
    transform: translate(-10px, 9px);
    max-width: 700px;
    margin-top: -145px;
  }
  .about__inner,
  .cover__inner{
    flex-direction: column;
  }
  .cover__descr{
    font-size: 34px;
    line-height: 40px;
  }
  .character__inner{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .about__info{
    width: unset;
    margin-right: 0;
  }
  .about__info,
  .character__info{
    margin-bottom: 30px;
  }
  .character__title{
    margin-top: 30px;
    &:before{
      top: -20px;
    }
  }
  .support{
    padding: 32px 0 39px;
  }
  .support__title{
    margin-bottom: 35px;
  }
  
  .about__inner{
    padding: 28px 0 50px;
  }






  
  .cover{
    .btn--big{
      max-width: unset;
    }
  }
  .cover__top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .cover__info{
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .cover__title,
  .cover__descr{
    max-width: unset;
    text-align: center;
  }
  // .cover__videowrapper{
  //   max-width: 550px;
  // }
  // .partners{
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
  // .play__inner{
  //   flex-direction: column;
  //   align-items: center;
  // }
  // .buy__inner{
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }
  // .buy__imgwrapper{
  //   min-width: unset;
  // }
  // .buy__info{
  //   margin-top: 20px;
  //   margin-right: 0;
  // }
  // .section-imgwrapper{
  //   max-height: unset;
  //   max-width: 500px;
  // }
  // .play__imgwrapper{
  //   margin-bottom: 20px;
  // }
  // .play{
  //   padding: 60px 0 150px;
  // }
  // .play__info{
  //   margin-left: 0;
  // }
  // .collection__inner{
  //   transform: translateY(-70px);
  // }
  // .roadmap{
  //   padding-bottom: 200px;
  // }
  // .cover .game__btn {
  //   transform: translateY(78px);
  // }
  // .header__menu-btn--not-main{
  //   display: none;
  // }
}

@media (max-width: 850px){
  .roadmap__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .roadmap__item{
    align-items: center;
  }
  .roadmap__points {
    margin-left: 71px;
    max-width: 297px;
    width: 100%;
  }
  .collection .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -163px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -163px;
  }







  .collection__list{
    grid-template: none;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: unset;
  }
  .collection__info{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: unset;
    grid-row-end: unset;
    grid-row: 4;
    margin-bottom: 25px;
  }
  .game__inner{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .game__wrapper{
    position: relative;
  }
  .game__inner{
    padding-bottom: 20px;
    margin-top: -40px;
    min-height: 473px;
  }
}


@media (max-width: 768px){
  .footer .logo{
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .footer__inner{
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .collection .swiper-wrapper {
    margin-left: -188px;
  }
  // .collection .swiper-pagination-bullet {
  //   width: 35px;
  //   height: 35px;
  // }
  // .collection .swiper-pagination-bullet:before {
  //   left: 10.5px;
  //   top: 10px;
  //   width: 15px;
  //   height: 15px;
  // }
  .collection .swiper-pagination-bullet:first-child:after,
  .collection .swiper-pagination-bullet:last-child:after {
    display: none;
  }
  
















  .collection__text + .collection__text {
    margin-top: 20px;
  }
  .header__menu-btn--not-main{
    display: flex;
  }
  .header__inner{
    .header__blockchain{
      display: none;
    }
  }
  .header__menu--not-main.header__menu--active{
    padding: 0 0 15px;
  }
  .header__menu--not-main{
    .header__blockchain{
      display: flex;
    }
  }
  .blockchains{
    right: unset;
  }
}


@media (max-width: 700px) {
  .header .logo{
    max-width: 270px;
  }
  .header__inner {
    padding: 0 38px;
  }
  .roadmap__list{
    transform: translateX(-20px);
  }




  .buy__inner{
    margin-bottom: 40px;
  }
  .buy__bottom{
    padding: 35px 0;
    margin-top: -70px;
  }
  .buy__bottom-title{
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 600px){
  .header__inner{
    height: 80px;
  }
  .header{
    .btn{
      display: none;
    }
  }
  .header__menu{
    .btn{
      display: unset;
    }
  }
  .cover:before {
    top: 79px;
    height: 3px;
  }
  .cover:after {
    width: calc(100vw - 146px);
  }
  .header:before, .header:after{
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
  }
  .cover__graphic img {
    width: 80px;
    height: 80px;
  }
  .cover__graphic-top {
    margin-top: 80px;
  }
  .cover{
    .btn{
      position: relative;
      z-index: 1;
    }
  }
  .cover__info{
    margin-bottom: 50px;
  }
  .roadmap__list{
    grid-template-columns: 1fr;
    transform: translateX(-15px);
    row-gap: 30px;
  }
  .roadmap{
    padding: 32px 0 101px;
  }
  .support{
    .input{
      padding: 27px 208px 27px 30px;
      height: 94px;
    }
  }
  .btn--copy {
    font-size: 28px;
    line-height: 33px;
    padding: 0 42px;
    height: 56px;
  }
  .support__form .btn {
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      margin-right: 10px;
    }
  }
  .collection .swiper-wrapper {
    margin-left: -163px;
  }




  .partners{
    column-gap: 20px;
    row-gap: 15px;
  }
  .partners__item{
    max-width: 46%;
  }
  .collection__list{
    grid-template-columns: repeat(2, 1fr);
  }
  .collection__info{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
  }
  .roadmap__title-line{
    width: calc((100vw / 2) - 150px);
  }
  .roadmap,
  .buy{
    background-size: cover;
  }
  .header__inner{
    .header__wallets{
      display: none;
    }
  }
  .header__menu{
    .header__wallets{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .blockchains{
    right: unset;
    left: 0;
  }
  .blockchains__items{
    grid-template-columns: repeat(3, 80px);
    gap: 12px;
  }
}

@media (max-width: 550px){
  .title--main{
    font-size: 46px;
    line-height: 53px;
  }
  .cover__descr {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .btn--big {
    height: 80px;
    padding: 0 50px;
    font-size: 42px;
    line-height: 49px;
  }
  .title{
    line-height: 52px;
  }




  


  .team{
    padding: 40px 0 40px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  // .btn--big{
  //   height: 50px;
  //   font-size: 24px;
  //   line-height: 29px;
  // }

  // .title{
  //   font-size: 36px;
  //   line-height: 44px;
  // }
  .tokenomics__total{
    margin-top: 20px;
    font-size: 26px;
    line-height: 32px;
  }
  // .logo{
  //   max-width: 220px;
  // }
  .header__menu{
    .header__buttonwrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 13px;
    }
    // &--active{
    //   padding-bottom: 20px;
    // }
  }
  .cover__top{
    margin-bottom: 30px;
  }
  // .cover__title,
  // .play__title,
  // .collection__title,
  // .buy__title{
  //   margin-bottom: 22px;
  // }
  // .roadmap__title{
  //   margin-bottom: 15px;
  // }
  // .cover__descr,
  // .play__descr,
  // .buy__descr{
  //   font-size: 18px;
  //   line-height: 22px;
  //   margin-bottom: 30px;
  // }
  .buy__buttonwrapper{
    flex-direction: column;
    .btn{
      max-width: unset;
    }
    .btn:last-child{
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .team__name{
    font-size: 28px;
    line-height: 32px;
  }
  .team__position{
    font-size: 20px;
    line-height: 24px;
  }
  .cover__buttonwrapper .btn + .btn{
    margin-left: 20px;
  }
  .play {
    padding: 40px 0 120px;
    background-size: cover;
  }
  .play .list{
    margin-left: 0;
  }
  .list{
    font-size: 18px;
    line-height: 22px;
  }
  .list-item{
    padding-left: 31px;
    &:before{
      width: 16px;
      height: 16px;
      top: 2px;
    }
  }
  .list--numbered{
    .list-item{
      &:before{
        width: 22px;
        height: 22px;
        top: -1px;
      }
    }
  }
  .buy .list-item + .list-item {
    margin-top: 15px;
  }
  // .collection__list{
  //   gap: 20px;
  // }
  // .collection__info{
  //   font-size: 18px;
  //   line-height: 22px;
  // }
  // .collection__text + .collection__text{
  //   margin-top: 15px;
  // }
  // .roadmap{
  //   padding-bottom: 170px;
  // }
  // .buy__bottom{
  //   margin-top: -80px;
  // }
  // .cover .game__btn {
  //   transform: translateY(40px);
  // }
  // .tokenomics__title {
  //   margin-bottom: 40px;
  // }
  // .tokenomics__imgwrapper{
  //   transform: translateX(-10px);
  //   img{
  //     width: calc(100vw - 10px);
  //   }
  // }
  // .tokenomics {
  //   margin-top: -28px;
  // }
}

@media (max-width: 500px){
  .footer__inner{
    flex-direction: column-reverse;
  }
  .footer .socials{
    margin: 10px 0 20px;
  }
  .cover__info {
    margin-bottom: 60px;
  }
  .support__title:before, .support__title:after{
    width: 46px;
    height: 46px;
    background-size: 100% 100%;
  }
  .support__title{
    padding: 0 58px;
  }
}

@media (max-width: 460px){
  .cover__info {
    margin-bottom: 70px;
  }
  .roadmap__list{
    transform: unset;
  }
  .roadmap__points{
    max-width: 345px;
    margin-left: 10px;
    transform: unset;
  }
  .roadmap__point {
    font-size: 20px;
    line-height: 24px;
  }
  .support__title {
    padding: 0 28px;
    font-size: 37px;
    line-height: 47px;
  }
  .support__title:before, .support__title:after {
    width: 41px;
    height: 41px;
  }
  .support__title:after{
    right: -25px;
  }
  .support__title:before{
    left: -25px;
  }
  .collection .swiper-wrapper {
    // margin-left: -121px;
    margin-left: 0;
  }
  .collection__swiper-overwrapper{
    padding: 0 15px;
  }




  .cover__buttonwrapper{
    flex-direction: column;
    .btn{
      max-width: unset;
    }
    .btn:last-child{
      margin-left: 0;
      margin-top: 18px;
    }
  } 
  .roadmap__title-line{
    width: calc((100vw / 2) - 120px);
  }
  .header__inner{
    .header__profile{
      display: none;
    }
  }
  .header__menu--not-main{
    flex-wrap: wrap;
    gap: 8px;
    .header__profile{
      display: flex;
    }
    .header__blockchain,
    .header__wallets{
      width: 45%;
      max-width: unset;
    }
  }
  .profile{
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .team__item{
    max-width: 160px;
  }
  .tokenomics__total{
    font-size: 20px;
    line-height: 24px;
  }
  // .tokenomics__imgwrapper{
    // img{
      // transform: translateX(-15px);
      // width: 100vw;
    // }
  // }
}

@media (max-width: 400px){
  .title--wreath {
    margin-bottom: 20px;
    &:after{
      width: 294px;
      height: 31px;
      background-size: 100% 100%;
    }
  }
}

@media (max-width: 380px){
  .cover__info {
    margin-bottom: 80px;
  }
  .roadmap__points{
    max-width: 365px;
    margin-left: 0;
  }
  .support__title {
    padding: 0;
    font-size: 37px;
    line-height: 47px;
  }
  .support__title:before, .support__title:after {
    width: 41px;
    height: 41px;
  }
  .support__title:after{
    right: -44px;
  }
  .support__title:before{
    left: -44px;
  }






  .header__wallets{
    font-size: 14px;
    line-height: 17px;
    &--connected{
      font-size: 12px;
      line-height: 14px;
    }
  }
  .profile__form{
    padding: 0;
  }
  .profile{
    min-width: 300px;
  }
}

@media (max-width: 360px){
  .cover{
    .btn{
      padding: 0 38px;
    }
  }
  .cover__descr {
    font-size: 24px;
    line-height: 30px;
  }
  .cover__title {
    margin-bottom: 10px;
  }
  .cover__descr{
    margin-bottom: 10px;
  }
  .character__title,
  .about__title{
    margin-bottom: 12px;
  }
  .support{
    .input{
      font-size: 22px;
      line-height: 26px;
      height: 84px;
    }
  }
  .btn--copy {
    font-size: 24px;
    line-height: 29px;
  }
  .support__title{
    padding: 0 37px;
  }
  .support__title:before{
    left: -9px;
  }
  .support__title:after{
    right: -9px;
  }





  .title{
    font-size: 30px;
    line-height: 38px;
  }
  .title--main{
    font-size: 32px;
    line-height: 36px;
  }
}