@media (max-width: 1550px){
  .collection .swiper-wrapper {
    margin-left: -154px;
  }
}

@media (max-width: 1200px){
  .header__inner{
    padding: 0 50px;
  }
  .header__nav-list{
    margin-right: 15px;
  }
  .header__nav-item + .header__nav-item{
    margin-left: 20px;
  }
}

@media (max-width: 1100px){
  .collection .swiper-pagination-bullet:first-child:after, .collection .swiper-pagination-bullet:last-child:after{
    width: 200px;
    height: 64px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -222px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -222px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    top: -10px;
  }
}

@media (max-width: 1050px){
  .header__nav{
    display: none;
  }
  .header__menu-btn{
    display: flex;
  }
  .header__menu{
    .header__nav{
      display: unset;
    }
  }
  .header__nav-list{
    flex-direction: column;
    margin-right: 0;
    border-top: 1px solid rgba(#30255F, .5);
    border-bottom: 1px solid rgba(#30255F, .5);
  }
  .header__nav-item + .header__nav-item{
    margin-left: 0;
    border-top: 1px solid rgba(#30255F, .5);
  }
  .header__nav-link{
    display: block;
    text-align: center;
    padding: 10px 0;
    &:after{
      display: none;
    }
  }
}

@media (max-width: 950px){
  .collection .swiper-pagination-bullet:first-child:after, .collection .swiper-pagination-bullet:last-child:after {
    width: 155px;
    height: 54px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    top: -5px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -172px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -172px;
  }
}

@media (max-width: 900px){
  body{
    font-size: 24px;
    line-height: 30px;
  }
  .title{
    font-size: 42px;
    line-height: 60px;
    &--main{
      font-size: 58px;
      line-height: 65px;
    }
  }
  .cover,
  .about,
  .character,
  .collection,
  .roadmap{
    background-size: auto 100%;
    background-position: center;
  }

  .cover {
    padding: unset;
    padding-top: 130px;
  }
  .cover__imgwrapper {
    margin-right: 0;
    transform: translate(-10px, 9px);
    max-width: 700px;
    margin-top: -145px;
  }
  .about__inner,
  .cover__inner{
    flex-direction: column;
  }
  .cover__descr{
    font-size: 34px;
    line-height: 40px;
  }
  .character__inner{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .about__info{
    width: unset;
    margin-right: 0;
  }
  .about__info,
  .character__info{
    margin-bottom: 30px;
  }
  .character__title{
    margin-top: 30px;
    &:before{
      top: -20px;
    }
  }
  .support{
    padding: 32px 0 39px;
  }
  .support__title{
    margin-bottom: 35px;
  }
  
  .about__inner{
    padding: 28px 0 50px;
  }
  .cover{
    .btn--big{
      max-width: unset;
    }
  }
  .cover__top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .cover__info{
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .cover__title,
  .cover__descr{
    max-width: unset;
    text-align: center;
  }
}

@media (max-width: 850px){
  .roadmap__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .roadmap__item{
    align-items: center;
  }
  .roadmap__points {
    margin-left: 71px;
    max-width: 297px;
    width: 100%;
  }
  .collection .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
  }
  .collection .swiper-pagination-bullet:first-child:after {
    left: -163px;
  }
  .collection .swiper-pagination-bullet:last-child:after {
    right: -163px;
  }
}


@media (max-width: 768px){
  .footer .logo{
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .footer__inner{
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .collection .swiper-wrapper {
    margin-left: -188px;
  }
  // .collection .swiper-pagination-bullet {
  //   width: 35px;
  //   height: 35px;
  // }
  // .collection .swiper-pagination-bullet:before {
  //   left: 10.5px;
  //   top: 10px;
  //   width: 15px;
  //   height: 15px;
  // }
  .collection .swiper-pagination-bullet:first-child:after,
  .collection .swiper-pagination-bullet:last-child:after {
    display: none;
  }
}


@media (max-width: 700px) {
  .header .logo{
    max-width: 270px;
  }
  .header__inner {
    padding: 0 38px;
  }
  .roadmap__list{
    transform: translateX(-20px);
  }
}

@media (max-width: 600px){
  .header__inner{
    height: 80px;
  }
  .header{
    .btn{
      display: none;
    }
  }
  .header__menu{
    .btn{
      display: unset;
    }
  }
  .cover:before {
    top: 79px;
    height: 3px;
  }
  .cover:after {
    width: calc(100vw - 146px);
  }
  .header:before, .header:after{
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
  }
  .cover__graphic img {
    width: 80px;
    height: 80px;
  }
  .cover__graphic-top {
    margin-top: 80px;
  }
  .cover{
    .btn{
      position: relative;
      z-index: 1;
    }
  }
  .cover__info{
    margin-bottom: 50px;
  }
  .roadmap__list{
    grid-template-columns: 1fr;
    transform: translateX(-15px);
    row-gap: 30px;
  }
  .roadmap{
    padding: 32px 0 101px;
  }
  .support{
    .input{
      padding: 27px 208px 27px 30px;
      height: 94px;
    }
  }
  .btn--copy {
    font-size: 28px;
    line-height: 33px;
    padding: 0 42px;
    height: 56px;
  }
  .support__form .btn {
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    img {
      margin-right: 10px;
    }
  }
  .collection .swiper-wrapper {
    margin-left: -163px;
  }
}

@media (max-width: 550px){
  .title--main{
    font-size: 46px;
    line-height: 53px;
  }
  .cover__descr {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .btn--big {
    height: 80px;
    padding: 0 50px;
    font-size: 42px;
    line-height: 49px;
  }
  .title{
    line-height: 52px;
  }
}

@media (max-width: 500px){
  .footer__inner{
    flex-direction: column-reverse;
  }
  .footer .socials{
    margin: 10px 0 20px;
  }
  .cover__info {
    margin-bottom: 60px;
  }
  .support__title:before, .support__title:after{
    width: 46px;
    height: 46px;
    background-size: 100% 100%;
  }
  .support__title{
    padding: 0 58px;
  }
}

@media (max-width: 460px){
  .cover__info {
    margin-bottom: 70px;
  }
  .roadmap__list{
    transform: unset;
  }
  .roadmap__points{
    max-width: 345px;
    margin-left: 10px;
    transform: unset;
  }
  .roadmap__point {
    font-size: 20px;
    line-height: 24px;
  }
  .support__title {
    padding: 0 28px;
    font-size: 37px;
    line-height: 47px;
  }
  .support__title:before, .support__title:after {
    width: 41px;
    height: 41px;
  }
  .support__title:after{
    right: -25px;
  }
  .support__title:before{
    left: -25px;
  }
  .collection .swiper-wrapper {
    // margin-left: -121px;
    margin-left: 0;
  }
  .collection__swiper-overwrapper{
    padding: 0 15px;
  }
}

@media (max-width: 400px){
  .title--wreath {
    margin-bottom: 20px;
    &:after{
      width: 294px;
      height: 31px;
      background-size: 100% 100%;
    }
  }
}

@media (max-width: 380px){
  .cover__info {
    margin-bottom: 80px;
  }
  .roadmap__points{
    max-width: 365px;
    margin-left: 0;
  }
  .support__title {
    padding: 0;
    font-size: 37px;
    line-height: 47px;
  }
  .support__title:before, .support__title:after {
    width: 41px;
    height: 41px;
  }
  .support__title:after{
    right: -44px;
  }
  .support__title:before{
    left: -44px;
  }
}

@media (max-width: 360px){
  .cover{
    .btn{
      padding: 0 38px;
    }
  }
  .cover__descr {
    font-size: 24px;
    line-height: 30px;
  }
  .cover__title {
    margin-bottom: 10px;
  }
  .cover__descr{
    margin-bottom: 10px;
  }
  .character__title,
  .about__title{
    margin-bottom: 12px;
  }
  .support{
    .input{
      font-size: 22px;
      line-height: 26px;
      height: 84px;
    }
  }
  .btn--copy {
    font-size: 24px;
    line-height: 29px;
  }
  .support__title{
    padding: 0 37px;
  }
  .support__title:before{
    left: -9px;
  }
  .support__title:after{
    right: -9px;
  }
  .title{
    font-size: 30px;
    line-height: 38px;
  }
  .title--main{
    font-size: 32px;
    line-height: 36px;
  }
}