@import '_vars.scss';
@import '_fonts.scss';
@import '_global.scss';

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.26);
  transition: all .4s;
  &--floats{
    background: #252643;
    .header__menu{
      background: linear-gradient(#252643 0%, #252643 50%);
    }
  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('~@/assets/images/corner.png');
    pointer-events: none;
  }
  &:before{
    left: 0;
    top: 0;
  }
  &:after{
    right: 0;
    top: 0;
    transform: rotate(270deg);
  }

  &__inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
  }
  .logo{
    margin-left: 0;
    margin-right: auto;
  }
  &__nav-list{
    display: flex;
    margin-right: 30px;
  }
  &__nav-item{
    & + &{
      margin-left: 30px;
    }
  }
  &__nav-link{
    transition: all .4s;
    font-size: 26px;
    line-height: 30px;
    position: relative;
    &:hover{
      color: #BCB6FF;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      width: 0%;
      bottom: -6px;
      height: 3px;
      border-radius: 3px;
      background: linear-gradient(90deg, #E84DFE 0%, #813CFF 100%);
      transition: all .4s;
    }
    &--active{
      &:after{
        width: 100%;
      }
      &:hover{
        color: $secondary;
      }
    }
  }
  &__menu-btn{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;
    min-width: 26px;
    margin-left: 18px;
    div{
      height: 3px;
      width: 100%;
      display: block;
      background-color: $secondary;
      border-radius: 10px;
    }
  }
  &__menu{
    height: 0;
    opacity: 0;
    transition: background .6s, opacity .2s, height .4s;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0.26) 0%, #252643 40%);
    text-align: center;
    .header__buttonwrapper{
      display: none;
    }
    .btn{
      display: none;
      margin: 15px 0;
    }
    &--active{
      height: unset;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.cover{
  background-image: url('~@/assets/images/cover-bg.jpg');
  position: relative;
  &:before,
  &:after{
    content: '';
    position: absolute;
    height: 2px;
    background: linear-gradient(90deg, #D08A4A 0%, #E09F5C 51.04%, #BB7239 100%);
  }
  &:before{
    top: 100px;
    width: 100vw;
  }
  &:after{
    bottom: 0;
    width: calc(100vw - 166px);
    left: 50%;
    transform: translateX(-50%);
  }
  &__graphic{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
      width: 100px;
      height: 100px;
    }
  }
  &__graphic-top{
    margin-top: 102px;
    transform: rotate(180deg);
  }
  &__graphic-top,
  &__graphic-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    img:last-child{
      transform: rotate(270deg);
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    max-width: 540px;
    position: relative;
    img{
      position: absolute;
      left: 11px;
      top: -95px;
      transform: rotate(6.29deg);
      pointer-events: none;
      max-width: 488px;
    }
  }
  &__title{
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
    &:before{
      content: '';
      position: absolute;
      left: 11px;
      top: -95px;
      background-image: url('~@/assets/images/cloud-graphic.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 487.3px;
      height: 278.59px;
      z-index: -1;
    }
  }
  &__descr{
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 35px;
    color: #C2C2C2;
  }
  &__imgwrapper{
    max-width: 871px;
    width: 100%;
    margin-right: -301px;
    transform: translate(-95px, 9px);
    pointer-events: none;
  }
}

.about{
  background-image: url('~@/assets/images/about-bg.jpg');
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row-reverse;
    padding: 38px 0 130px;
  }
  &__info{
    margin-top: 25px;
    max-width: 532px;
    width: 100%;
    margin-right: 30px;
  }
  &__title{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 159px;
      top: -30px;
      background-image: url('~@/assets/images/cloud-yellow-graphic.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 201px;
      height: 75px;
    }
  }
  &__title{
    margin-bottom: 16px;
  }
  &__descr{
    color: #AFAFAF;
    max-width: 532px;
  }
  &__imgwrapper{
    max-width: 540px;
  }
}

.character{
  background-image: url('~@/assets/images/character-bg.jpg');
  &__inner{
    padding: 16px 0 45px;
    display: flex;
    justify-content: space-between;
  }
  &__title{
    margin-top: 43px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    &:before{
      content: '';
      position: absolute;
      left: -35px;
      top: -13px;
      background-image: url('~@/assets/images/cloud-filled-yellow-graphic.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 168px;
      height: 95px;
      z-index: -1;
    }
  }
  &__info{
    max-width: 540px;
  }
  &__descr{
    position: relative;
    z-index: 1;
  }
}

.support{
  padding: 32px 0 49px;
  background: #252643;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form{
    max-width: 800px;
    width: 100%;
    .input{
      width: 100%;
    }
  }
  &__title{
    position: relative;
    padding: 0 74px;
    margin-bottom: 45px;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 56px;
      height: 56px;
      background-image: url('~@/assets/images/fantom-logo.svg');
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
      transform: translateY(-50%) scaleX(-1);
    }
  }
  &__form{
    position: relative;
    .btn{
      position: absolute;
      top: 22px;
      right: 46px;
    }
  }
}

.collection{
  background-image: url('~@/assets/images/collection-bg.jpg');
  padding: 32px 0 121px;
  &__inner{
    text-align: center;
  }
  &__descr{
    max-width: 791px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
  .swiper{
    position: relative;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -66px;
  }
  .swiper-pagination{
    pointer-events: click;
  }
  .swiper-pagination-bullets{
    position: relative;
    outline: none;
    // &:before,
    // &:after{
    //   content: '';
    //   position: absolute;
    //   width: 271px;
    //   height: 86px;
    //   background-image: url('~@/assets/images/pagination-decoration.png');
    //   pointer-events: none;
    // }
    // &:before{
    //   left: 0;
    //   top: 0;
    // }
    // &:after{
    //   right: 0;
    //   top: 0;
    //   transform: rotate(180deg);
    // }
  }
  .swiper-pagination-bullet{
    width: 43px;
    height: 43px;
    opacity: 1;
    background: url('~@/assets/images/pagination-bullet.png');
    background-size: 100% 100%;
    position: relative;
    // Active bullet state
    &:before{
      content: '';
      position: absolute;
      left: 12px;
      top: 11.5px;
      background: url('~@/assets/images/pagination-bullet-active.png');
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      opacity: 0;
      transition: all .3s;
    }
    &-active{
      &:before{
        opacity: 1;
      }
    }

    // Pagination decoration
    &:first-child,
    &:last-child{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 271px;
        height: 86px;
        background-image: url('~@/assets/images/pagination-decoration.png');
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
        background-size: 100% 100%;
      }
    }
    &:first-child{
      &:after{
        left: -289px;
      }
    }
    &:last-child{
      &:after{
        right: -289px;
        transform: scale(-1);
        top: -20px;
      }
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
  }
  .swiper-wrapper{
    margin-left: -175px;
  }
  .swiper-slide{
    // max-width: 350px;
    img{
      border-radius: 10px;
    }
  }
}

.roadmap{
  background-image: url('~@/assets/images/roadmap-bg.jpg');
  padding: 32px 0 141px;
  &__inner{
    text-align: center;
  }
  &__descr{
    max-width: 791px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
    &:nth-child(1),
    &:nth-child(2){
      .roadmap__point{
        &:before{
          background: #FFFCF9;
        }
      }
    }
  }
  &__list-img{
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 16px;
    margin-left: 12px;
  }
  &__item-title{
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 37px;
    margin-left: 18px;
    text-align: left;
    // text-shadow: 0px 0px 6px rgba(236, 92, 92, 0.7);
    text-shadow: 0px 0px 5px rgba(236, 92, 92, 0.7);

    // background: linear-gradient(90deg, #FFE9CE 0%, #FFF5E7 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-clip: text;
    // text-fill-color: transparent;
    // text-shadow: 0px 0px 6px rgba(236, 92, 92, 0.7);

    position: relative;
    span{
      position: absolute;
      left: 0;
      top: 0;
      
      // background: linear-gradient(90deg, #FFE9CE 0%, #FFF5E7 100%);
      background: linear-gradient(90deg, #ffffff 0%, #FFF5E7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__points{
    max-width: 228px;
  }
  &__point{
    font-size: 22px;
    line-height: 26px;
    position: relative;
    padding-left: 20px;
    text-align: left;
    transform: translateX(2px);
    & + &{
      margin-top: 8px;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
    }
    &:before{
      width: 12px;
      height: 12px;
      left: 0;
      top: 6px;
      border: 3px solid #DC8250;
      transform: rotate(-45deg);
    }
  }
}

.footer{
  // background-color: $dark-edit;
  // padding: 31px 0;
  position: relative;
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 216px;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
  &__copyright{
    // margin-left: 23px;
    font-size: 18px;
    line-height: 21px;
    color: $secondary;
    &--roboted{
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 23px;
    }
  }
}














@import '_media.scss';